body, h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", "Franklin Gothic Medium", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

/*fondo*/
body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #4269f7;
}

/*cuadrado amarillo welcome*/
.ecw-answerbox {
    color: #808080;
    background-color: #f9df4d;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    display: block;
    padding: .75em;
    width: 240pt;
}

.ecw-boxcheated_sel {
    background-color: white;
    border-color: #C00000;
    color: #2080D0;
}

.ecw-boxcheated_unsel {
    background-color: #ffffff;
    border-color: #606060;
    color: #2080D0;
}

.ecw-boxerror_sel {
    background-color: #FFF1D7;
    border-color: #C00000;
    color: #BF0000;
}

.ecw-boxerror_unsel {
    background-color: #FFF0F0;
    border-color: #606060;
    color: #BF0000;
}

.ecw-boxnormal_sel {
    background-color: #FFF1D7;
    border-color: #C00000;
    color: #000000;
}

.ecw-boxnormal_unsel {
    background-color: #ffffff;
    border-color: #606060;
    color: #000000;
}

/*botones de ok, solve y cancel*/
.ecw-button {
    width: 64pt;
}

.slv.button{
visibility: hidden;
}

.ecw-cluebox {
    border-bottom-width: 1px;
    border-color: #c0c0c0;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 1px;
    margin-top: 1em;
    padding-bottom: .5em;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: .5em;
    text-align:center;
    font-size:17px;
    color:#808080;
}

.ecw-answerbox h3, p{
text-align:center;
color:#808080;
}

/*cuadrado de fuera del puzzle*/
.ecw-crosswordarea {
    background-color: #D0D8E0;
    border-color: white;
    border-style: solid;
    padding: .5em;
    font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
    font-size: small;
    border-width: 4px;
    border-radius: 10px;
}

/*cada cuadrado del crucigrama*/
.ecw-box {
    border-style: solid;
    border-width: 1pt;
    cursor: pointer;
    font-size: .12in;
    font-weight: bold;
    height: .18in;
    overflow: hidden;
    text-align: center;
    width: .18in;
}

/*letras de los botones resolver, ok y cancelar*/
.ecw-input {
    font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
}

/*puntitos de cantidad de letras*/
.ecw-wordlabel {
    text-transform: uppercase;
    margin: 0;
    color:#808080;
}

/*across, y el número de letras*/
.ecw-wordinfo {
    font-size: 10pt;
    color: #808080;
    text-align:center;
}

/*letras cuando te equivocas*/
.ecw-worderror {
    font-weight: bold;
    display: none;
    margin-top: 1em;
}